@import 'global/variables.scss';

.custom-textarea {
    background: $content-input-bg-color-light;
    color: $sidebar-color-light;
    border: 0px;
    &.darkMode {
        background: $content-input-bg-color-dark;
        color: $sidebar-color-dark;
    }
}