// Light Mode
$sidebar-bg-color-light: #e5e5e5 !default;
$sidebar-color-light: #1d1d1d !default;
$highlight-color-light: #06A4FF !default;
$submenu-bg-color-light: #f7f7f7 !default;
$submenu-bg-color-collapsed-light: #f7f7f7 !default;
$icon-bg-color-light: #f7f7f7 !default;

$content-bg-color-light: #f7f7f7 !default;
$content-color-light: $sidebar-color-light !default;
$content-label-bg-color-light: #f7f7f7 !default;
$content-input-bg-color-light: $content-bg-color-light !default;
$content-tab-link-active-bg-color-light: $content-label-bg-color-light;

// Dark Mode
$sidebar-bg-color-dark: #1d1d1d !default;
$sidebar-color-dark: #adadad !default;
$highlight-color-dark: #d8d8d8 !default;
$submenu-bg-color-dark: #2b2b2b !default;
$submenu-bg-color-collapsed-dark: #2b2b2b !default;
$icon-bg-color-dark: #2b2b2b !default;

$content-bg-color-dark: #373737 !default;
$content-color-dark: $sidebar-color-dark !default;
$content-label-bg-color-dark: #2b2b2b !default;
$content-input-bg-color-dark: $content-bg-color-dark !default;
$content-tab-link-active-bg-color-dark: $content-label-bg-color-dark;


$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;
