@import 'global/variables.scss';

.required {
    color: rgb(255, 77, 79);
    font-size: 14px;
    line-height: 1;
    margin-right: 3px;
  }

.title {
    font-weight: bold;
    text-align: center;
    border-radius: 0.2em;
    background: $content-label-bg-color-light;
    // border: 1px solid $highlight-color-dark;
    color: $sidebar-color-light;
    &.darkMode {
      background: $content-label-bg-color-dark;
      // border: 1px solid $highlight-color-dark;
      color: $sidebar-color-dark;
    }
}