@import 'global/variables.scss';

.required {
    color: rgb(255, 77, 79);
    font-size: 14px;
    line-height: 1;
    margin-right: 3px;
  }

.title {
    background: $sidebar-bg-color-light;
    font-weight: bold;
    text-align: center;
    border-radius: 0.2em;
    border: 1px solid $highlight-color-dark;
    &.darkMode {
      border: 1px solid $highlight-color-dark;
    }
}