@import 'global/variables.scss';
@import 'layout/ProSidebar/scss/partials/animation.scss';

.sidebar-btn-wrapper {
  .sidebar-icon-wrapper {
    &:hover {
      color: $highlight-color-light;
      &.darkMode {
        color: $highlight-color-dark;
      }
        
      .sidebar-user-icon {
        animation: swing ease-in-out 0.5s 1 alternate;
      }
    }
  }

  .sidebar-btn-icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: $icon-bg-color-light;
    color: $sidebar-color-light;
    &.darkMode {
      background: $icon-bg-color-dark;
      color: $sidebar-color-dark;
    }
  }
}
