@import 'global/variables.scss';
@import 'layout/ProSidebar/scss/partials/animation.scss';

.sidebar-btn-wrapper {
  .sidebar-icon-wrapper {
    &:hover {
      color: $highlight-color-light;
      animation: swing ease-in-out 0.5s 1 alternate;
      &.darkMode {
        color: $highlight-color-dark;
      }
    }
  }
}
